*{
    margin:0;
}

html,body{
    height:100%;
}
.popUp{
    height:100%;
    width:100%;
    background-color:rgba(193, 193, 193, 0.66);
    position:absolute;
    top:0;
    left:0;
    /*display:none;*/
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.popUp img{
    /*opacity: 0.7;*/
    height:300px;
}

.product{
    height:250px;
    width:170px;
    border-radius:10px;
    border:2px solid black;
    box-shadow:2px 2px 2px black;
    margin-top:10px;
    margin-left:8px;
    cursor:pointer;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

}

.product img{
    margin-bottom: 0;
    /*opacity: 0.7%;*/;
    width: 170px;
    height:200px;

}
p{
    font-weight: bold;
    font-size: 150%;
}

